<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <title>IT challenge</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Funny jokes to brighten your day">
</head>
<body>
    <img src="" alt="">
    <a href=""></a>
    <a href="joke.html">Get jokes</a>
<p></p>
</body>
</html>

